#navigatorHeader {
	background-image: linear-gradient(#294681, #121313);
}

#navigatorHeader a {
	color: white;
}

.login {
	text-align: center;
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.register {
	text-align: center;
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#homeContainer {
	text-align: center;
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

#mainProduct {
	background-image: linear-gradient(#294681, #282c34);
	min-height: 80vh;
}

#newEvent {
	text-align: center;
	color: white;
}

#nameServer {
	color: white;
	margin-right: 15%;
	height: auto;
	float: left;
}

#creatorFormEvent {
	text-align: center;
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	color: white;
}

.parentDetalisProduct {
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	height: auto;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}

.parentDetalisProduct .card {
	padding: 1vh;
	margin-bottom: 1vh;
	min-height: 510px;
	height: auto;
	max-height: 510px;
	width: 70%;
}
.parentDetalisProduct .card-deck {
	display: flex;
	flex-direction: row;
	margin: 2vh;
}
.parentDetalisProduct .card .card-text {
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 22px;
}
.parentDetalisProduct .card-deck .card-img-top {
	font-size: 32px;
	color: #294681;
	height: 25vh;
	width: 100%;
}
.parentDetalisProduct .card .card-title {
	font-size: 32px;
	color: #294681;
}
.dropdown-menu.show {
	background-image: linear-gradient(#294681, #121313);
}

.dropdown-item:hover {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.mb-1 {
	text-align: center;
}

.singleProduct:hover {
	filter: brightness(80%);
}

.parentOrder {
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.parentMenu {
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	color: white;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#parentAboutUs {
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	height: auto;
	color: white;
	font-size: calc(10px + 2vmin);

	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.frontPage {
	background-image: linear-gradient(#294681, #282c34);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	height: auto;
}
.frontPage h1 {
	text-align: center;
	color: white;
}
.frontPage #containerFix .card .d-block {
	height: 40vh;
}
#containerFix {
	width: 1328px;
}

.card-title {
	font-size: 34px;
	color: rgb(241, 238, 238);
}
.card-text {
	color: rgb(241, 238, 238);
	font-family: 'Times New Roman', Times, serif;
	font-size: 22px;
}



.loginRegisterButton {
	width: 291px;
	height: 50px;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	border: none;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.loginUpdateButton {
	width: 291px;
	height: 50px;
	background-color: gainsboro;
	color: rgb(0, 0, 0);
	border: none;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.order-card {
	border-radius: 5%;
	display: inline-flex;
	position: relative;
	width: 1100px;
	height: 800px;
	background: linear-gradient(0deg, rgba(5,53,103,1) 0%, rgba(28,112,107,1) 0%, rgba(0,32,96,1) 100%);
}

#order-img {
	border-top-left-radius: 5%;
	border-bottom-left-radius: 5%;
	width:55%;
	height:100%;
}

#order-element1 {
float:right;
margin-left: 2%;
margin-top: 2%;
}

#order-form {
	display: inline-flex;
	position: relative;
}

#order-button {
	margin-left:8%;
	width: 200px;
}

#facebookButton {
	width: 291px;
	height: 50px;
	background-color: #5890ff;
	color: white;
	border: none;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

#logo {
	font-family: 'Lobster';
	text-decoration: none;
	width: '30';
	height: '30';
}

#parentEventUpdate {
	background-image: linear-gradient(#294681, #282c34);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	height: auto;
}
/* Below line is used for online Google font */
@import "http://fonts.googleapis.com/css?family=Ubuntu";
body{
margin:0;
padding:0;
font-family:'Ubuntu',sans-serif
}
#first{
width:350px;
height:610px;
box-shadow:0 0 25px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
float:left;
padding:10px 50px 0;
border:15px solid #93FCC9;
margin:2% 30%;
}
hr{
border:0;
border-top:1px solid #ccc;
margin-bottom:30px
}
h1{
margin-bottom:-10px
}
label{
font-size:17px
}
input{
width:350px;
padding:10px;
margin-top:10px;
margin-bottom:35px;
border-radius:5px;
border:1px solid #cbcbcb;
box-shadow:inset 0 1px 2px rgba(0,0,0,0.18);
font-size:16px
}
textarea{
width:350px;
height:100px;
padding:10px;
margin-top:10px;
margin-bottom:35px;
border-radius:5px;
border:1px solid #cbcbcb;
box-shadow:inset 0 1px 2px rgba(0,0,0,0.18);
font-size:16px
}
input[type=submit]{
background:linear-gradient(to bottom,#22abe9 5%,#36caf0 100%);
box-shadow:inset 0 1px 0 0 #7bdcf4;
border:1px solid #fff;
color:#fff;
font-size:19px;
font-weight:700;
cursor:pointer;
text-shadow:0 1px 0 #13506D
}
input[type=submit]:hover{
background:linear-gradient(to bottom,#36caf0 5%,#22abe9 100%)
}

td{
	background: linear-gradient(0deg, rgba(5,53,103,1) 0%, rgba(28,112,107,1) 0%, rgba(0,32,96,1) 100%);
	color:rgb(233, 215, 215);
	font-size:25px;
}

th{
	color: white;
	font-size:30px;
}

.first-header{
	background: linear-gradient(0deg, rgba(5,53,103,1) 0%, rgba(160,186,210,1) 0%, rgba(35,42,56,1) 100%);
	color: rgb(255, 255, 255);
	font-size:25px;
}

.edit-button{
background:linear-gradient(to bottom,#22abe9 5%,#36caf0 100%);
color:#fff;
cursor:pointer;
text-shadow:0 1px 0 #13506D;
width:175px;
padding:10px;
margin-top:10px;
margin-bottom:10px;
border-radius:9px;
border:1px solid #cbcbcb;
box-shadow:inset 0 1px 2px rgba(0,0,0,0.18);
font-size:25px;
}
.edit-button:hover{
	background:linear-gradient(to bottom,#36caf0 5%,#22abe9 100%)
}