#navigatorHeader {
	background-image: linear-gradient(#294681, #121313);
}

#navigatorHeader a {
	color: white;
}

.login {
	text-align: center;
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.register {
	text-align: center;
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#homeContainer {
	text-align: center;
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

#mainProduct {
	background-image: linear-gradient(#294681, #282c34);
	min-height: 80vh;
}

#newEvent {
	text-align: center;
	color: white;
}

#nameServer {
	color: white;
	margin-right: 15%;
	height: auto;
	float: left;
}

#creatorFormEvent {
	text-align: center;
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	color: white;
}

.parentDetalisProduct {
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	height: auto;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}

.parentDetalisProduct .card {
	padding: 1vh;
	margin-bottom: 1vh;
	min-height: 510px;
	height: auto;
	max-height: 510px;
	width: 70%;
}
.parentDetalisProduct .card-deck {
	display: flex;
	flex-direction: row;
	margin: 2vh;
}
.parentDetalisProduct .card .card-text {
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 22px;
}
.parentDetalisProduct .card-deck .card-img-top {
	font-size: 32px;
	color: #294681;
	height: 25vh;
	width: 100%;
}
.parentDetalisProduct .card .card-title {
	font-size: 32px;
	color: #294681;
}
.dropdown-menu.show {
	background-image: linear-gradient(#294681, #121313);
}

.dropdown-item:hover {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.mb-1 {
	text-align: center;
}

.singleProduct:hover {
	filter: brightness(80%);
}

.parentOrder {
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.parentOrder .card .card-img-top {
	height: 40vh;
}

#parentAboutUs {
	background-image: linear-gradient(#294681, #282c34);
	min-height: 100vh;
	height: auto;
	color: white;
	font-size: calc(10px + 2vmin);

	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card:hover {
	filter: brightness(70%);
}

.frontPage {
	background-image: linear-gradient(#294681, #282c34);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	height: auto;
}
.frontPage h1 {
	text-align: center;
	color: white;
}
.frontPage #containerFix .card .d-block {
	height: 40vh;
}
#containerFix {
	width: 1328px;
}

.card-title {
	font-size: 32px;
	color: #294681;
}
.card-text {
	color: black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 22px;
}

.loginRegisterButton {
	width: 291px;
	height: 50px;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	border: none;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

#facebookButton {
	width: 291px;
	height: 50px;
	background-color: #5890ff;
	color: white;
	border: none;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

#logo {
	font-family: 'Lobster';
	text-decoration: none;
	width: '30';
	height: '30';
}
